<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Voting</title>
</head>
<body>
<h1>Do you like this movie?</h1>
<img th:src="@{${movie.coverUrl}}" alt="Movie Cover" style="max-width: 300px;" />

<form action="/submitVote" method="post">
    <input type="hidden" name="movieTitle" th:value="${movie.title}" />
    <button type="submit" name="vote" value="like">👍 Like</button>
    <button type="submit" name="vote" value="dislike">👎 Dislike</button>
</form>
</body>
</html>
